{% extends 'base.html' %}

    {%block head%}
        <title>
            About Xprecitout
        </title>
    {%endblock%}




    {%block body%}
         <div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <h1>The Creater</h1>
          <p>Hey Friends! </p>
            <p>This is Tanisha Yadav.<br>I am the creater of this blog. I designed this platform for people who have a lot to say but are just lacking a stage to showcase their ideas.</p>
            <p>I made this place with an intention to reach out to people who couldn't find a to express themselves.<br>
                Start writing today.<br><br>
            <a class="btn btn-primary" href="/posts" role="button">View Posts &raquo;</a>
          </p>
        </div>
      </div>
    </div>
  </div>
    {%endblock%}