{% extends 'base.html' %}

    {%block head%}
        <title>
            Xprecitout
        </title>
    {%endblock%}




    {%block body%}

<!--        <div style="background-image: url('../static/Images/blog_image.jpg');">-->


         <div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <h1>Express it out with  Xprecitout</h1>
          <p>It's a place that offers you a platform to express your thoughts,imagination,questions and answer your delimma.It's a place where everyone has an equal right to conveys their ideas,emotions,information or any work of art.</p>
            <p>No restriction on no. of posts just type out your thoughts, and release them to the world!</p>
            <p>
            <a class="btn btn-primary" href="/posts" role="button">View Posts &raquo;</a>
          </p>
        </div>
      </div>
    </div>
  </div>
    {%endblock%}